body {
  margin: 0;
  font-family: Arial;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #ff4d4d;
  color: white;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ff4d4d;
  color: white;
}

nav h2 {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.nav-links a.active {
  border-bottom: 2px solid white;
}

.nav-links a:hover {
  text-decoration: underline;
}


.hero{
height:350px;

display:flex;
align-items:center;
justify-content:center;

text-align:center;
color:white;

background-image:linear-gradient(
rgba(0,0,0,0.5),
rgba(0,0,0,0.5)
),
url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");

background-size:cover;
background-position:center;
}

.hero h1{
font-size:42px;
font-weight:bold;
}